/*!
 * WIDEPLATE -- https://github.com/myfreeweb/wideplate
 */

$singular-column-width: 22em;
$plural-column-max-width: 24em;
$column-rule: 1px dotted #ccc;
$column-gap: 1px;

@mixin column-width($w) {
  -webkit-column-width: $w;
  -moz-column-width: $w;
  column-width: $w;
}

@mixin column-gap($w) {
  -webkit-column-gap: $w;
  -moz-column-gap: $w;
  column-gap: $w;
}

@mixin column-fill($w) {
  -webkit-column-fill: $w;
  -moz-column-fill: $w;
  column-fill: $w;
}

@mixin column-rule($w) {
  -webkit-column-rule: $w;
  -moz-column-rule: $w;
  column-rule: $w;
}

@mixin column-break-inside($w) {
  -webkit-column-break-inside: $w;
  column-break-inside: $w;
}

@mixin box-sizing($w) {
  -webkit-box-sizing: $w;
  -moz-box-sizing: $w;
  box-sizing: $w;
}

@mixin overflow-scrolling($w) {
  -webkit-overflow-scrolling: $w;
  overflow-scrolling: $w;
}

html { height: 100%; }
body { height: 100%; position: relative; }

.singular, .plural {
  @include overflow-scrolling(touch);
}

.singular {
  position: relative;
  height: 95%;
  margin-top: 1.5%;
  display: block;
  @include column-width($singular-column-width);
  @include column-gap($column-gap);
  @include column-fill(auto);
  @include column-rule($column-rule);
  h1, h2, h3, h4, h5, h6, figure {
    @include column-break-inside(avoid);
  }
}

.plural {
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap; // <---- THIS makes them stack
  & > section {
    position: relative;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    max-width: $plural-column-max-width;
    overflow: hidden;
    overflow-y: auto;
    @include box-sizing(border-box);
    border-right: $column-rule;
    margin-left: $column-gap;
  }
}

@media screen and (max-width: 32em) {
  .singular.narrow-collapse { height: auto; }
  .plural.narrow-collapse {
    white-space: normal;
    & > section {
      height: auto;
      max-width: 100%;
      margin-left: 0;
      border-right: 0;
    }
  }
}
